.fatboard {
  .card-title {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-title {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .fatboard .card {
    width: 20rem;
    height: 17rem;
  }
}

.progress-bar {
  overflow: visible;

  &.basic {
    background-color: #ffa400
  }
}

.card {
  opacity: .9;
}

.btn-primary:not(:disabled):not(.disabled) {
  &:active, &.active {
    color: #fff;
    background-color: darken($primary-color, 20%);
    border-color: darken($primary-color, 30%);
  }
}
