.fatboard {
  .card-title {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-title {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .fatboard .card {
    width: 20rem;
    height: 15rem;
  }
}