$primary-color: #1c517c !default;
$primary-states-color: lighten($primary-color, 6%) !default;
$primary-color-opacity: rgba(28, 81, 124, .3) !default;
$primary-color-alert: rgba(28, 81, 124, .8) !default;